<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hub.store.mapper.CooperMapper">
	<resultMap type="Cooper" id="cooperMap">
		<id property="coId" column="coId"/>
		<result property="coName" column="coName"/>
		<result property="startDay" column="startDay"/>
		<result property="lastDay" column="lastDay"/>
		<result property="coBanner" column="banner"/>
		<collection property="connChains" column="coId" ofType="String" select="com.hub.store.mapper.CooperMapper.selectConnChainsByCoId" javaType="ArrayList" jdbcType="NUMERIC"/>
	</resultMap>

	<sql id="selectCooper">
		SELECT coId, coName, banner, startDay, lastDay
		FROM cooper_tb
	</sql>

	<select id="nextCooperId">
		SELECT cooper_seq.nextval as coId
		FROM dual
	</select>

	<insert id="insertCooper" parameterType="Cooper">
		INSERT
		INTO cooper_tb(coId, coName, banner, startDay, lastDay)
		VALUES(#{coId}, #{coName}, #{coBanner}, sysdate, #{lastDay})
	</insert>
	
	<insert id="insertCooperConn" parameterType="Map">
		INSERT
		INTO coConn_tb(coId, connChain)
		VALUES(#{coId}, #{connChain})
	</insert>

	<update id="updateCooperConn" parameterType="Cooper">
		UPDATE cooper_tb
		SET (coName = #{coName}, banner = #{coBanner}, lastDay = #{lastDay})
		WHERE coId = #{coId}
	</update>

	<delete id="deleteCooper" parameterType="int">
		DELETE cooper_tb
		WHERE coId = #{coId}
	</delete>
	
	<delete id="deleteCooperConn" parameterType="int">
		DELETE coConn_tb
		WHERE coId = #{coId}
	</delete>
	
	<select id="selectAll" resultMap="cooperMap">
		<include refid="selectCooper" />
	</select>

	<select id="selectCooperByCoId" parameterType="int" resultMap="cooperMap">
		<include refid="selectCooper" />
		WHERE coId = #{coId}
	</select>
	
	<select id="selectCoopersByConnChain" parameterType="String" resultMap="cooperMap">
		<include refid="selectCooper" />
		WHERE coId IN (SELECT coId
						FROM coConn_tb
						WHERE connChain=#{connChain})
	</select>

	<select id="selectConnChainsByCoId" parameterType="int" resultType="String">
		SELECT connChain
		FROM coConn_tb
		WHERE coId = #{coId}
	</select>
	
</mapper>