<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hub.store.mapper.FollowMapper">
	<resultMap type="Follow" id="followMap">
		<id property="userId" column="userId" />
		<result property="followId" column="followId" />
		<result property="relation" column="relation" />
		<result property="confirm" column="confirm" typeHandler="BooleanToYnHandler"/>
	</resultMap>

	<sql id="selectFollow">
		SELECT userId, followId, relation, confirm
		FROM follow_tb
	</sql>

	<insert id="insertFollow" parameterType="Follow">
		INSERT INTO follow_tb(userId, followId, relation, confirm) 
		VALUES (#{userId}, #{followId}, #{relation}, #{confirm,typeHandler=BooleanToYnHandler})
	</insert>

	<delete id="deleteFollow" parameterType="Follow">
		DELETE follow_tb
		WHERE
		(userId=#{userId} AND followId=#{followId})
		OR (userId=#{followId} AND followId=#{userId})
	</delete>

	<update id="updateFollow" parameterType="Follow">
		UPDATE follow_tb
		SET confirm='Y'
		WHERE userId=#{userId} and followId=#{followId}
	</update>
	
	<select id="selectFollowById" parameterType="map" resultMap="followMap">
	SELECT userId, followId, relation, confirm
	FROM follow_tb
	WHERE userId = #{userId} AND followId = #{followId}
	</select>


	<select id="selectAll" resultMap="followMap">
		SELECT userId, followId, relation, confirm
		FROM follow_tb
		WHERE userId = #{userId}
		AND confirm ='Y'
		AND followId IN (SELECT userId
						 FROM follow_tb
						 WHERE followId=#{userId} AND confirm='Y')
	</select>
	
	<select id="selectFollowsRequested" resultMap="followMap">
		<include refid="selectFollow" />
		WHERE userId=#{userId} AND confirm='N'
	</select>

	<select id="selectConnectedFollows" resultMap="followMap">
		<include refid="selectFollow" />
		WHERE userId=#{userId}
	</select>

</mapper>